@model IEnumerable<DecoStation.Models.Producto>

@{
    ViewData["Title"] = "Index";
    var categorias = ViewData["Categories"] as IEnumerable<DecoStation.Models.Categoria>;
}

<h1>Escaparate</h1>


<<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Categorías</h4>
            <div class="categories-container border p-2 rounded">

                <div class="category-item border-bottom py-2">
                    <a asp-action="Index" asp-route-id="null" class="category-link">Novedades</a>
                </div>
                    <div class="category-item border-bottom py-2">
                        <a asp-action="Index" asp-route-id="@categorias.Id" class="category-link">@categorias.Name</a>
                    </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4>Productos</h4>
            <div class="container">
                <div class="row">
                    @foreach (var producto in Model)
                    {
                        <div class="col-lg-3 col-sm-4 col-6">
                            <div class="card">
                                <div class="card-img-container">
                                    @{
                                        var nombreImagen = "no-imagen.jpg";
                                        if (producto.Imagen != null)
                                        {
                                            nombreImagen = producto.Imagen;
                                        }
                                    }
                                    <img src="~/imagenes/productos/@nombreImagen" class="img-fluid" asp-append-version="true" />
                                    <a asp-action="AgregarCarrito" asp-route-id="@producto.Id" class="stretched-link"></a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">@producto.Name</p>
                                    <h5 class="card-title">@producto.Price.ToString("C")</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
